*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/*HEADER*/


.menu_nav {
    display: inline-flex;
    position: absolute;
    right: 40px;
    top: 20px;
    
}

.menu ul li{
    display: inline;
    padding-right: 45px;
}

.menu ul li a:active{
    color: #F2F2F2;
}

.register li a{
    color: #0065FC;
    font-weight: bold;
}

.logo {
    position: relative;
    left: 15px;
}

/*FIN HEADER*/

#economic_select{
    padding: 10px;
    border-radius: 10px;
    padding-left: 15px;
}

#all_family{
    padding: 10px;
    border-radius: 10px;
    padding-left: 15px
}

#romance{
    padding: 10px;
    border-radius: 10px;
    padding-left: 15px
}

#pets_allowed{
    padding: 10px;
    border-radius: 10px;
    padding-left: 15px
}

.research{
    background-color: #0065FC;
    border-color: #0065FC;
    color: #ffffff;
    padding: 5px;
    
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

#site-search {
    padding: 5px;
}

img{
    padding: 15px;
    
}

.pin_up{
    color: black;
}


.fas fa-map-marker-alt{
    padding: 5px;
    border: 1px solid black;
}

#holiday_home{
    display: flex;
    justify-content: space-around;
}

.hebergements{
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
}

.popular{
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
}

.first_ligne{
    display: flex;
    
}

.second_ligne{
    display: flex;
}

#hebergements_marseille{
    padding: 15px;
    position: relative;
    left: 12px;
}

/*HEBERGEMENTS*/
/*PREMIERE IMAGE*/

.cannebiere{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.cannebiere25{
    padding-left: 15px;
}

.cannebiere img{
    border-radius: 10px;
}

/*DEUXIEME IMAGE*/
.hotel_duport{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.port52{
    padding-left: 15px;
}

/*TROISIEME IMAGE*/
.hotel_lesmouettes{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.mouettes76{
    padding-left: 15px;
}

/*QUATRIEME IMAGE*/
.hotel_dela_mer{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.mer46{
    padding-left: 15px;

}

/*CINQUIEME IMAGE */
.auberge_lepanier{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.panier23{
    padding-left: 15px;

}

/*SIXIEME IMAGE */
.hotel_amina{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.amina96{
    padding-left: 15px;

}

/*POPULAIRE*/
.popular_title{
    padding: 15px;
    position: relative;
    left: 12px;
}
/*PREMIERE IMAGE*/
.hotel_matin{
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.soleil_matin{
    padding-top: 14px;
    padding-right: 30px;
}
/*DEUXIEME IMAGE*/
.coeur_eau{
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.coeureau{
    padding-top: 14px;
    padding-right: 30px;
}
/*TROISIEME IMAGE*/

.hotel_bleublanc{
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.bleublanc{
    padding-top: 14px;
    padding-right: 30px;
}


/*FOOTER*/
footer{
    background-color: #F2F2F2;
    
}

#footer{
    display: flex;
    justify-content: space-between;
}

.about{
    position: relative;
    left: 10px;
}

.assistance {
    position: relative;
    right: 35px;
    
    padding:15px;
}
/*FIN FOOTER*/