*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --blue: #0065FC;
    --grey: #F2F2F2;
    --lightblue: #DEEBFF;
}

.blue {
    color: var(--blue);
}

.grey {
    color: var(--grey);
}

.lightblue {
    color: var(--lightblue);
}

a {
    text-decoration: none;
}

/*HEADER*/


.menu_nav {
    display: inline-flex;
    position: absolute;
    right: 40px;
    top: 20px;
    
}

.menu ul li{
    display: inline;
    padding-right: 45px;
}

.menu ul li a:active{
    color: #F2F2F2;
}

.register li a{
    color: #0065FC;
    font-weight: bold;
}

.logo {
    position: relative;
    left: 15px;
}

/*FIN HEADER*/

#economic_select{
    padding: 10px;
    border-radius: 10px;
    padding-left: 15px;
}

#all_family{
    padding: 10px;
    border-radius: 10px;
    padding-left: 15px
}

#romance{
    padding: 10px;
    border-radius: 10px;
    padding-left: 15px
}

#pets_allowed{
    padding: 10px;
    border-radius: 10px;
    padding-left: 15px
}

.research{
    background-color: #0065FC;
    border-color: #0065FC;
    color: #ffffff;
    padding: 5px;
    
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

#site-search {
    padding: 5px;
}



.pin_up{
    color: black;
}


.fas fa-map-marker-alt{
    padding: 5px;
    border: 1px solid black;
}

/*HEBERGMENTS*/

/*

#holiday_home{
    display: flex;
    justify-content: space-around;
}

.hebergements{
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
}

.popular{
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
}

.first_ligne{
    display: flex;
    
}

.second_ligne{
    display: flex;
}

#hebergements_marseille{
    padding: 15px;
    position: relative;
    left: 12px;
}
*/

/*HEBERGEMENTS*/
/*PREMIERE IMAGE*/
 /*
.cannebiere{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.cannebiere25{
    padding-left: 15px;
}

.cannebiere img{
    border-radius: 10px;
}

/*DEUXIEME IMAGE*/
/*
.hotel_duport{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.port52{
    padding-left: 15px;
}

/*TROISIEME IMAGE*/
/*
.hotel_lesmouettes{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.mouettes76{
    padding-left: 15px;
}

/*QUATRIEME IMAGE*/
/*
.hotel_dela_mer{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.mer46{
    padding-left: 15px;

}

/*CINQUIEME IMAGE */
/*
.auberge_lepanier{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.panier23{
    padding-left: 15px;

}

/*SIXIEME IMAGE */
/*
.hotel_amina{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.amina96{
    padding-left: 15px;

}

/*POPULAIRE*/
/*
.popular_title{
    padding: 15px;
    position: relative;
    left: 12px;
}
/*PREMIERE IMAGE*/
/*
.hotel_matin{
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.soleil_matin{
    padding-top: 14px;
    padding-right: 30px;
}
/*DEUXIEME IMAGE*/
/*
.coeur_eau{
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.coeureau{
    padding-top: 14px;
    padding-right: 30px;
}
/*TROISIEME IMAGE*/
/*
.hotel_bleublanc{
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.bleublanc{
    padding-top: 14px;
    padding-right: 30px;
}
*/
.box {
    background: var(--gris);
  }

.icon-star-blue {
    color: #0065FC;
    height: 6px;
    text-align: center;
  }

  .icon-star-gris {
    color: #e4e4e4;
    height: 6px;
    text-align: center;
  }


  .main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 40px;
  }

  .populaires {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    order: 2;
    align-self: flex-start;
    padding-top: 20px;
    background-color: #F2F2F2;
    border-radius: 20px;
  }
  .populaires-header {
    display: flex;
    padding: 20px 20px 0 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .contenu-populaires {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .card1 {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    background: white;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.3);
    border-radius: 20px;
  }
  
  .card1 .img {
    width: 45%;
    height: 133px;
    border-radius: 15px 0 0 15px;
    background-position: center center;
    background-size: cover;
  }
  .desc-pop {
    margin: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 133px;
  }
  
  .titre-card-pop {
    width: 100%;
    margin-top: 10px;
    align-self: start;
  }
  
  .desc-card-pop {
    width: 100%;
    margin-top: -10px;
    align-self: start;
  }
  
  .rate-card-pop {
    width: 100%;
    margin-bottom: 10px;
    align-self: flex-end;
  }


  /*Hébergements*/

  .hebergements {
    display: flex;
    flex-direction: column;
    width: 60%;
    order: 1;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
  }
  .contenu-hebergements {
      
      padding: 0 20px 0 20px;
  }
  .card-hebergements {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 30%;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.3);
    border-radius: 20px;
  }

  
  .card-hebergements .img {
    margin: 5px 5px 0 5px;
    width: 100%;
    height: 113px;
    border-radius: 20px 20px 0 0;
    background-position: center center;
    background-size: cover;
  }
  .desc-hebergements {
    padding: 10px 10px 10px 20px;
    width: 100%;
  }
  
  .titre-card-hebergements {
    align-self: flex-start;
    width: 100%;
  }
  
  .desc-card-hebergements {
    align-self: flex-start;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
  }
  
  .rate-card-hebergements {
    align-self: flex-end;
    width: 100%;
  }

  .section-header {
    padding: 20px;
  }
  
  .plus {
    padding-left: 20px;
    padding-top: 10px;
    
  }

  .plus a{
      color: black;
  }

 

  .ligne1 {
      display: flex;
      justify-content: space-between;
  }

  .ligne2 {
      display: flex;
      justify-content: space-between;
  }
  
/*FOOTER*/
/*
footer{
    background-color: #F2F2F2;
}



#footer{
    display: flex;
    justify-content: space-between;
}

.about{
    position: relative;
    left: 10px;
}

.assistance {
    position: relative;
    right: 35px;
    
    padding:15px;
}
*/



.footerbox {
    display: flex;
    justify-content: flex-start;
    padding: 40px;
    background-color: #F2F2F2;
    line-height: 2;
    width: 100%;
}

.footer-section {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 40%;
}

.footer-section a {
    color: black;
}

/*FIN FOOTER*/