*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

:root {
    --blue: #0065FC;
    --grey: #F2F2F2;
    --lightblue: #DEEBFF;
}

.blue {
    color: var(--blue);
}

.grey {
    color: var(--grey);
}

.lightblue {
    color: var(--lightblue);
}

a {
    text-decoration: none;
}

/*HEADER*/


.menu_nav {
    display: inline-flex;
    position: absolute;
    right: 40px;
    top: 20px;
    
}

.menu ul li{
    color: #F2F2F2;
    display: inline;
    padding-right: 45px;
}

.menu ul li a{
  color: black;
}

.menu ul li a:active{
    color: #0065FC;
}

.register li a{
    color: #0065FC;
    font-weight: bold;
}

.logo {
    position: relative;
    left: 15px;
}

.premier-titre {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.soustitre-titre {
    margin-left: 20px;
    margin-bottom: 15px;

}



/*FIN HEADER*/

/*FILTRES*/

.fa-color {
  color: #0065FC;
}

.filterContainer {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  align-items: center;
}

.filterHeader {
  font-size: 1em;
  margin-right: 1em;
}

.filterItem {
  display: flex;
  align-items: center;
  margin-right: 2em;
  border: 2px solid #d9d9d9;
  border-radius: 2em;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
}

.filterItem:hover {
  transform: scale(1.1);
}

.filtersIcon {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3.5em;
  width: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.filterInfo {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.filterInfoWrap {
  background-color: #fff;
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
  border: 2px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterInfoText {
  display: flex;
  margin-left: 0.5em;
  align-self: center;
}

.filterItemText {
  display: flex;
  margin: 0 1em;
}


/*/filtres*/

/*barre de recherche*/

.recherche {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.icon-recherche {
    background-color: #F2F2F2;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.research {
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    border-color: #0065FC;
    border: hidden;
    color: white;
    font-weight: bold;
}

#site-search {
    padding-right: 10px;
    border-color: #F2F2F2;
    border: hidden;
    font-weight: 900;
    padding-left: 15px;
    
}

::placeholder {
  color: black;
  opacity: 1;
}


.pin_up{
    color: black;
}


.fas fa-map-marker-alt{
    padding: 5px;
    border: 1px solid black;
}

.information {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    
}

.icon-info {
    padding-right: 15px;
    color: #0065FC;
}

/*HEBERGMENTS*/


.box {
    background: var(--gris);
  }

.icon-star-blue {
    color: #0065FC;
    height: 6px;
    text-align: center;
  }

  .icon-star-gris {
    color: #e4e4e4;
    height: 6px;
    text-align: center;
  }


  .main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 40px;
  }

  .populaires {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    order: 2;
    align-self: flex-start;
    padding-top: 20px;
    background-color: #F2F2F2;
    border-radius: 20px;
  }
  .populaires-header {
    display: flex;
    padding: 20px 20px 0 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .contenu-populaires {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .card1 {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    background: white;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.3);
    border-radius: 20px;
  }
  
  .card1 .img {
    width: 45%;
    height: 133px;
    border-radius: 15px 0 0 15px;
    background-position: center center;
    background-size: cover;
  }
  .desc-pop {
    margin: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 133px;
  }
  
  .titre-card-pop {
    width: 100%;
    margin-top: 10px;
    align-self: start;
  }
  
  .desc-card-pop {
    width: 100%;
    margin-top: -10px;
    align-self: start;
  }
  
  .rate-card-pop {
    width: 100%;
    margin-bottom: 10px;
    align-self: flex-end;
  }


  /*Hébergements*/

  .hebergements {
    display: flex;
    flex-direction: column;
    width: 60%;
    order: 1;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
  }
  .contenu-hebergements {
      
      padding: 0 20px 0 20px;
  }
  .card-hebergements {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 30%;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.3);
    border-radius: 20px;
  }

  
  .card-hebergements .img {
    margin: 5px 5px 0 5px;
    width: 100%;
    height: 113px;
    border-radius: 20px 20px 0 0;
    background-position: center center;
    background-size: cover;
  }
  .desc-hebergements {
    padding: 10px 10px 10px 20px;
    width: 100%;
  }
  
  .titre-card-hebergements {
    align-self: flex-start;
    width: 100%;
  }
  
  .desc-card-hebergements {
    align-self: flex-start;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
  }
  
  .rate-card-hebergements {
    align-self: flex-end;
    width: 100%;
  }

  .section-header {
    padding: 20px;
  }
  
  .plus {
    padding-left: 20px;
    padding-top: 20px;
    
  }

  .plus a{
      color: black;
  }

 

  .ligne1 {
      display: flex;
      justify-content: space-between;
  }

  .ligne2 {
      display: flex;
      justify-content: space-between;
  }
  
/*ACTIVITES*/


.marseille {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 20px 20px 20px;
}

.activites-header {
  padding: 40px 0 10px 50px;
}

.col-activites-1,
.col-activites-2,
.col-activites-3,
.col-activites-4 {
  width: 23%;
  display: flex;
  flex-wrap: wrap;
  
}

.card2-activites {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: white;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.3);
  border-radius: 20px;
}

.card2-activites .img1 {
  width: 100%;
  height: 500px;
  border-radius: 20px 20px 0 0;
  background-position: center center;
  background-size: cover;
}

.card2-activites .img2 {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  background-position: center center;
  background-size: cover;
}

.card2-activites .img3 {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  background-position: center center;
  background-size: cover;
}

.desc2-hebergements {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
}

.titre2-card-activites {
  padding-left: 20px;
}

/*FOOTER*/

.footerbox{
    display: flex;
    justify-content: flex-start;
    padding: 40px;
    background-color: #F2F2F2;
    line-height: 2;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
 }

 .footer-section {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 40%;
 }

.footer-section a {
    color: black;
}

/*FIN FOOTER*/